* {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	outline: none;
}

button {
	cursor: pointer;
}

@font-face {
    font-family: 'Poppins-M'; /*a name to be used later*/
    src: url('fonts/Poppins-Medium.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Poppins-S'; /*a name to be used later*/
    src: url('fonts/Poppins-SemiBold.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Poppins-R'; /*a name to be used later*/
    src: url('fonts/Poppins-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Poppins-B'; /*a name to be used later*/
    src: url('fonts/Poppins-Bold.ttf'); /*URL to font*/
}


body {
	background: #1D262F;
}

.app-wrapper {
	padding: 18px;

}

.app-header {
	width: 100%;
	height: 44px;
	float: left;
}

.app-hero {
	width: 100%;
	height: auto;
}

.main-title {
	font-family: Poppins-S;
	font-size: 28px;
	color: white;
	line-height: 140%;
}

.subtitle {
	font-family: Poppins-M;
	font-size: 16px;
	color: #5D6A76;
	margin-top: 12px;
}

.main-button {
	width: 100%;
	height: 44px;
	background: #E0073E;
	border-radius: 4px;
	border: none;
	margin-top: 20px;
	font-family: Poppins-S;
	font-size: 16px;
	color: white;
}

.sec-button {
	width: 100%;
	height: 44px;
	background: #283440;
	border-radius: 4px;
	border: none;
	margin-top: 10px;
	font-family: Poppins-M;
	font-size: 14px;
	color: #95A6B8;
	letter-spacing: .3px;
}

.value-item {
	width: 100%;
	height: 62px;
	background: #252F3A;
	margin-top: 15px;
}

.image-holder {
	float: left;
	width: 66px;
	height: 62px;
	background: #3B4956;
	border-right: 4px solid #1D262F;
	box-sizing: border-box;
	position: absolute;
	z-index: 10;
	text-align: center;
}

.image-holder > img { margin-top: 19px; }

.value-item > p {
	float: left;
	font-family: Poppins-S;
	font-size: 16px;
	color: #475462;
	line-height: 130%;
	margin-left: 75px;
	margin-top: 10px;
}

.value-item > p > span {
	font-family: Poppins-M;
	font-size: 15px;
	color: white;
}

.value-item-sec {
	margin-top: 5px;
}

.button-footer {
	width: 49%;
	display: inline-block;
	vertical-align: middle;
	height: 49px;
	padding-right: 10px;
}

.foot-sec {
	margin-top: 17px;
}